body {
  margin: auto;
  width: 90%;
  color: #252b3b;
}

table {
  padding-top: 20px;
  margin: auto;
  height: 200px;
}

td {
  min-width: 500px;
  width: 50%;
}

td img {
  width: 100%;
}

.right-td {
  padding: 0px 10px;
  text-align: center;
  background-color: rgb(240,240,240);
  height: 500px;
}



.link a {
  text-align: center;
  text-decoration: none;
  color: #252b3b;
  font-weight: bold;
  padding: 10px;
  border: 2px solid #555;
}


h1, p {
  text-align: center;
}

h1 {
  font-size: 1.9em;
  color: #252b3b;
}

p {
  color: #555;
  padding-bottom: 20px;
}
