body {
  max-width: 90%;
  margin: 20px auto 0 auto;
}

.index {
  background-image: url("../img/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  width: 100%;
  background-blend-mode: multiply;
  background-color: #6e6e6e;
}

.text-box {
  text-align: center;
  padding-top: 300px;
  color: #fff;
}

.text-box p {
  font-size: 18px;
  font-family: serif;
  padding-bottom: 60px;
  font-family: 'Roboto Slab', serif;
}

.text-box h1 {
  font-size: 60px;
  font-family:'Roboto', sans-serif;
  margin: 40px;
  font-weight: bold;
}

.text-box h3 {
  font-size: 24px;
  font-family:'Roboto', sans-serif;
}

.text-box a {
  color: #fff;
  background-color: #91b203;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 12px;
  font-family:'Roboto', sans-serif;
}

/*below is service.html*/
.box {
  width: 100%;
  height: 440px;
}
.top-box {
  background-image: url("../img/featured-image-3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: #6e6e6e;
}
.bottom-box {
  background-image: url("../img/featured-image-4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 20px;
  background-blend-mode: multiply;
  background-color: #6e6e6e;
}
aside {
  background-image: url("../img/featured-image-5.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: #6e6e6e;
  height: 900px;
  width: 60%;
  float: left;
  color: white;
}
article {
  float: left;
  width: 38%;
  color: white;
  margin-right: 20px;
}
.textbox-left {
  padding-top: 143px;
  margin-left: 60px;
  font-family:'Roboto', sans-serif;
}
.textbox-right {
  padding-top: 260px;
  padding-left: 60px;
}
.textbox-left h1 {
  font-size: 59px;
  font-family:'Roboto', sans-serif;
}
.textbox-left h4 {
  color: #2b922b;
  font-size: 30px;
  margin-top: 50px;
  font-family:'Roboto', sans-serif;
}
.textbox-right h1 {
  font-family:'Roboto', sans-serif;
  font-size: 45px;
}
.textbox-right h4 {
  color: #2b922b;
  font-size: 26px;
  margin-top: 40px;
  font-family:'Roboto', sans-serif;
}
.textbox-right p {
  font-size: 20px;
  line-height: 50px;
  padding-top: 18px;
  padding-right: 112px;
  font-family: 'Roboto Slab', serif;
}
a.more {
  color: white;
  background-color: #444343;
  text-decoration: none;
  font-family:'Roboto', sans-serif;
  padding: 12px 24px;
  margin-right: 20px;
  font-size: 16px;
}
a.products {
  color: white;
  text-decoration: none;
  font-family:'Roboto', sans-serif;
  padding: 12px 24px;
  border: 2px solid white;
  font-size: 16px;
}
.links {
  margin-top: 35px;
}
